.card {
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.05);
  }


/* Add this CSS to hide the elements initially */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  


/* Add this CSS to hide the elements initially and define the animation */
.fade-in-alt {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .fade-in-alt.active {
    opacity: 1;
    transform: translateY(0);
  }

  /* Define the fade-in animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  /* Initial state: content hidden */
.content-hidden {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1.5s ease, transform 1s ease;
  }
  
  
/* Animated state: content visible */
.content-visible {
    opacity: 1;
    transform: translateY(0);
  }


/* Initial state: content hidden */
.fade-in-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  /* Animated state: content visible */
  .fade-in-card.active {
    opacity: 1;
    transform: translateY(0); 
  }

  

  /* Initial state: content hidden */
.fade-in-side {
    opacity: 0;
    transform: translateX(-50px); 
    transition: opacity 1.5s linear, transform 1s linear;
  }
  
  .fade-in-side.active {
    opacity: 1;
    transform: translateX(0); 
  }
  
  