
/* Desktop screen */
@media (max-width: 1240px) {
    .fifth-content .col-md-7,
    .fifth-content .col-md-5 {
      width: 100%;
      padding: 0;
    }
  
    .fifth-content .col-md-5 {
      margin-top: 5rem;
    }

    .fifth-container{
        padding: 5rem 1rem;
    }
  }



  

/* Tab Screen */
  @media (max-width: 991px) {
      .navbar-collapse {
        padding-left: 3rem;
      }

      h1{
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        font-family:  'Be Vietnam Pro', sans-serif;
    }
    }




/* mobile Screen */
  @media (max-width: 770px) {
    h1{
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2;
      font-family:  'Be Vietnam Pro', sans-serif;
  }

  .third-container h2{
    padding-top: 15rem;
    padding-bottom: 4rem;
  }


    .container{
      padding: 0 .8rem;
    }

    .reverse {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
    }
  
    .reverse:last-child {
      order: 1;
    }

    .p-down{
        padding-bottom: 2rem;
        padding-top: 3rem;
      }

      .logo{
        max-width: 120px; 
        max-height: 90px;
      }

      .contact .row>* {
        width: 50%;
      }

      .footer{
        text-align: center;
      }

  }